---
import Layout from '../../layouts/Layout.astro';
import BreadboardProjects from '../../components/BreadboardProjects.astro';
---

<Layout title="Linh On | Portfolio | My Projects" description="A list of my best projects" scrollSmooth={false}>
    <>
        <!--Projects Section-->
        <section class="border-bottom">
            <div class="mb-4">
                <h2 class="text-3xl font-bold mb-8">All My Projects</h2>
            </div>
        </section>
        <!--Projects List-->
        <section class="flex flex-col gap-8">
            <BreadboardProjects />
        </section>
    </>
</Layout>
